.wrapper {
  margin-inline: auto;
  width: 960px;
}

.title {
  margin-bottom: 20px;
}

.category {
  span {
    background: #eee;
    color: gray;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 10px;
  }
}

.publishedAt {
  margin-bottom: 40px;
}

.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin-block: 40px 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin-block: 40px 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}
